@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';

body {
    font: var(--font-m);
}

.app,
.app_drower {
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: var(--bg-color);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 6em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
