@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';

body {
    font: var(--font-m);
}

.app {
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    padding: 20px 20px 20px 10px;
    width: 100%;
}
