.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.loginTitle {
    text-align: center;
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
