:root {
    --font-family-main: 'Montserrat', sans-serif;
    --font-size-s: 12px;
    --font-line-s: 18px;
    --font-s: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 34px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры

    --navbar-height: 56px;
    --sidebar-width: 240px;
    --sidebar-width-collapsed: 80px;
    --comment-avatar-width: 40px;

    // z - Идексы

    --modal-z-index: 10;

    // Цвета

    --overlay-color: rgb(0 0 0 / 60%);
    --red-light: rgb(255 0 0);
    --red-dark: rgb(217 0 0);
    --red-simple: rgb(235 127 127);

    // Параметры
    --border-size: 8px;
}
