.ArticleDetails {
    min-height: 100%;
    background-color: var(--second-bg-color);
    box-shadow: var(--shadow-size);
    border-radius: var(--border-size);
    padding: 15px 30px;
}

.avatar {
    margin: 0 auto;
    object-fit: cover;
}
