.Button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    padding: 10px 16px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
