.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.noData {
    height: 150px;
    width: fit-content;
    padding: 0 50px;
    border-radius: 6px;
    margin: 0 auto;
    border: 1px solid var(--red-simple);
    text-align: center;
}
