.Code {
    background: var(--code-bg);
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
    width: 100%;
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}
