.ListBox {
    position: relative;
}

.trigger {
    min-width: 150px;
    width: 100%;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
}

.options {
    background-color: var(--listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    margin-top: 5px;
    width: 100%;
}

.optionsTop {
    bottom: 100%;
}

.optionsBottom {
    opacity: 1;
}

.item {
    padding: 7px 15px 7px 53px;
    cursor: pointer;
}

.selectedItem {
    padding-left: 15px;
}

.activeItem {
    background-color: var(--additional-color-light);
}

.disabledItem {
    opacity: 0.6;
}

.readonly {
    opacity: 0.6;
}

.icon {
    fill: var(--additional-color);
}

.marginForStorybook {
    margin-top: 150px;
}
