.app_dark_theme {
    // background
    --bg-color: rgb(15 15 15);
    --navbar-bg-color: rgb(15 15 15);
    --input-bg-color: rgb(60 60 60);
    --second-bg-color: rgb(18 18 18);
    --elements-bg-color: rgb(34 34 34);

    // primary (test, elements) colors
    --primary-color: rgb(255 255 255);
    --secondary-color: rgb(255 255 255 / 80%);
    --additional-color: rgb(220 220 220);
    --line-color: rgb(255 255 255 / 12%);

    // shadow
    --shadow-color: rgb(0 0 0 / 10%);
}
