.app_dark_theme {
    --bg-color: rgb(28 28 28);
    --navbar-bg-color: rgb(35 35 35);
    --primary-color: rgb(255 255 255);
    --secondary-color: rgb(255 255 255 / 80%);
    --additional-color: rgb(220 220 220);
    --input-bg-color: rgb(60 60 60);
    --shadow-color: rgb(0 0 0 / 10%);
}
