.Icon,
.normal {
    fill: var(--primary-color);
    transition: background-color 0.1s;
}

.copy {
    opacity: 0.5;
}

.copy:hover {
    opacity: 1;
}

.additionalColor {
    fill: var(--additional-color);
}

.primaryColor {
    fill: var(--primary-color);
}

.width_10 {
    width: 10px;
    height: 10px;
}

.width_20 {
    width: 20px;
    height: 20px;
}

.width_30 {
    width: 30px;
    height: 30px;
}

.width_40 {
    width: 40px;
    height: 40px;
}

.width_50 {
    width: 50px;
    height: 50px;
}

.width_60 {
    width: 60px;
    height: 60px;
}
