.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 0 20px;
    background: var(--navbar-bg-color);
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
