.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 0px 20px;
    background: var(--navbar-bg-color);
    -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}
