.ProfilePageHeader {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .editBtn {
        margin-right: 20px;
    }
}

.btnWrapper {
    display: flex;
    margin-left: auto;
}
