.ProfileCard {
    padding: 20px;
    background: var(--second-bg-color);
    border-radius: 8px;

    // box-shadow: 0 6px 10px -1px var(--shadow-color);
    box-shadow: 0 3px 10px 2px var(--shadow-color);
    border: 1px solid var(--navbar-bg-color);
    transition: border 0.2s;

    @media (max-width: 700px) {
        box-shadow: none;
        padding: 5px;
    }
}

.select,
.input {
    flex: 4;
}

.input {
    padding-top: 3px;
    padding-bottom: 3px;
}

.infoItem {
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid var(--bg-color);

    svg {
        opacity: 0.7;
        cursor: pointer;
    }
}

.text {
    flex: 1;
}

.infoItemValue {
    max-width: 70vw;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.isLoading,
.error {
    height: 300px;
}

.editing {
    border: 1px solid var(--additional-color);

    .infoItem {
        box-shadow: 0 6px 10px -1px var(--shadow-color);
    }

    @media (max-width: 700px) {
        border: none;

        .infoItem {
            box-shadow: none;
        }
    }
}

.validateError {
    // background: var(--red-simple);
    border: 1px solid var(--red-light);
}
