.ProfileCard {
    padding: 20px;
    background: var(--navbar-bg-color);
    border-radius: 8px;
    box-shadow: 0 6px 10px -1px var(--shadow-color);
}

.header {
    display: flex;
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: 30px;
}

.input {
    margin-top: 10px;
}
