.Dropdown {
    position: relative;
}

.btn {
    margin: 0;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
}

.menu {
    background: var(--card-bg);
    position: absolute;
    width: max-content;
    z-index: 10000;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background-color: var(--additional-color);
    color: var(--bg-color);
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}
