.CommentCard {
    padding: 12px;
    background-color: var(--elements-bg-color);
    border-radius: var(--border-size);
    box-shadow: var(--shadow-size);
}

.isLoading {
    box-shadow: none;
}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}
