.Card,
.clear {
    border-radius: 6px;
    box-shadow: var(--shadow-size);
    background: var(--elements-bg-color);
}

.normal {
    border: 1px solid var(--additional-color);
    opacity: 1;
}

.outlined {
    opacity: 0.6;
}

.max {
    width: 100%;
}
